@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0B0F14;
  --foreground: #E5E7EB;
}


body {
  color: var(--foreground);
  background: var(--background);
}


@layer base {

  input,
  textarea,
  select {
    background-color: #111827 !important;
    /* Dark Gray (Gray-900) */
    color: #F9FAFB !important;
    /* White (Gray-50) */
    border: 1px solid #374151;
    /* Border Gray-700 */
  }

  input::placeholder,
  textarea::placeholder {
    color: #9CA3AF !important;
    /* Gray-400 */
  }
}